@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Space+Grotesk:wght@700&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
    
    
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}

body{
    background-color: rgb(9, 97, 9) !important; 
    margin: 0px;
    padding: 0px;
}
.logo{
    width: 70px;
    border-radius: 30px 0px 30px 0px;
}
#nav{
    background-color: rgb(9, 97, 9) !important;
    
}  
#bars{
    font-size: 30px;
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
} 

#carouselExampleCaptions{
   margin-top: 1%;
   width:"95%";
   height: 500px;
   overflow: hidden;    
}
a{
    color: rgb(9, 9, 9) !important;

}

#imgc{
    width: 100% !important;
}

button{
    margin-left: 10px;
    margin-right: 10px;
    color:  rgb(9, 9, 9) !important;
   
    
}

/* =======rate list ======= */
#buttons button{
    width: 200px;
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
}

#buttons button i{
    padding-right: 30px
}

#buttons{
    display: flex;
    justify-content: center;
    margin: 20px;
}

@media(max-width:921px) {
  #buttons button{
    width: 100px;
    padding: 5px;
    font-size: 10px;
    border-radius: 10px;
    border: none;
    margin: 5px;
}
}

@media(max-width:820px) {
  #buttons button{
    width: 100px;
    padding: 5px;
    font-size: 10px;
    border-radius: 10px;
    border: none;
    margin: 5px;
}
}

@media(max-width:420px) {
  #buttons button{
    width: 100px;
    padding: 5px;
    font-size: 10px;
    border-radius: 10px;
    border: none;
    margin: 11px;
}

#buttons button i{
    padding-right: 30px
}

#buttons{
    display: inline;
    justify-content: center;
    margin: 0px;
}
  
}
#rate{
    width: 150px;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 10px black;
    margin: 10px;
    background-color: white !important;

}

#paperrate{
  margin: 5% ;
}


#mainrate{
    padding: 50px;
}

@media(max-width:821px){
  #paperrate{
    margin: 5% ;
    display: grid !important;
    grid-template-columns: auto auto !important;
  }
}
@media(max-width:541px){
#rate{
  width: 115px;
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 10px black;
  margin: 10px;
  background-color: white !important;

}
}

@media(max-width:420px){
  #mainrate{
    padding: 5px;

}
#rate{
  width: 115px;
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 10px black;
  margin: 10px;
  background-color: white !important;

}
#paperrate{
  margin: 5% ;
  display: grid !important;
  grid-template-columns: auto auto !important;
}
}

@media(max-width:290px){
  #mainrate{
    padding: 5px;

}
#rate{
  width: 80px;
  padding: 5px;
  font-size: 10px;
  border-radius: 7px;
  border: none;
  box-shadow: 0px 0px 10px black;
  margin: 5px;
  background-color: white !important;

}
#paperrate{
  margin: 5% ;
  display: grid !important;
  grid-template-columns: auto auto !important;
}
}

/* ===========written four================ */
.written4{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    margin: 40px;
    color: white !important;
}

.written4 img{
    margin-top: -20px;
    width: 50px;
}
.written4 p{
    font-size:12px;
}

/* ================================================================== */

/* ======================information==================== */
.information{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    
}

.information div{
   
    font-size: 13px;
    margin: 20px;
}
.information a{
    color: slategray;
    font-size: 11px;

}


/* =========media query = ======= */
@media(max-width:1100px){
}

/* =================================media less than 968px========= */

@media(max-width:960px){
    .information{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        
    }
       
    .information div{
        font-size: 13px;
        margin-left: 20px;
    }
    .written4{
        display: grid;
        grid-template-columns:auto auto;
        justify-content: center;
        margin: 40px;
    }
    .written4 img{
        margin-top: -20px;
        width: 40px;
    }
}


@media(max-width:600px){
    
    .written4 img{
        margin-top: 0px;
        width: 40px;
    }
   .information{
    padding-left: 40px;
    padding-right: 60px;
  }
}

@media(max-width:468px){
    #bestchild{
        display: grid;
        grid-template-columns:auto;
        margin: 40px;
      }  
}

/* =============contact======= */
.say-hello-main {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    /* background: #024d81; */
    background-size: auto 100%;
    background-position: right;
    background-repeat: no-repeat
  }
  
  .contact-detail {
    margin: 0 0 0 -15px;
    position: relative
  }
  
  .con-detail {
    position: absolute;
    left: 50px;
    bottom: 50px
  }
  
  .con-detail .f-skype {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    margin: 20px 0 0
  }
  
  .con-detail .f-skype a span {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px 0 0
  }
  
  .con-detail .f-skype a {
    color: #fff;
    text-decoration: none;
    align-items: center;
    font-size: 18px
  }
  
  .form-row {
    display: flex;
    flex-wrap: wrap
  }
  
  .home-contact-form {
    width: 60%;
    margin: 0 auto
  }
  
  .home-contact-form h3 {
    color: #fff;
    margin: 0 0 40px
  }
  
  .home-contact-form .form-control {
    background: rgba(255, 255, 255, .2);
    color: #fff;
    border: none;
    height: 50px;
    font-size: 16px;
    border-radius: 5px
  }
  
  .home-contact-form label {
    color: #fff;
    margin: 0 0 5px
  }
  
  .home-contact-form label span {
    color: red
  }
  
  .home-contact-form .custom-file-button label {
    color: #000;
    margin: 0
  }
  
  .form-check-inline {
    margin: 0
  }
  
  .home-contact-form select option {
    color: #000
  }
  
  .home-contact-form textarea.form-control {
    height: auto
  }
  
  .home-contact-form .form-control::placeholder {
    color: #fff
  }
  
  .home-contact-form .form-select {
    background: rgba(255, 255, 255, .2) url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-size: auto 15px;
    background-repeat: no-repeat;
    background-position: 95% center;
    color: #fff;
    border: none;
    height: 50px;
    font-size: 16px;
    border-radius: 5px
  }
  
  .form-row {
    margin: 0 -7px
  }
  
  .form-row .col-lg-6 {
    margin: 0 0 15px;
    padding: 0 7px
  }
  
  .custom-file-button input[type=file]::-webkit-file-upload-button {
    display: none
  }
  
  .custom-file-button input[type=file]::file-selector-button {
    display: none
  }
  
  .custom-file-button:hover label {
    background-color: #dde0e3;
    cursor: pointer
  }
  
  .input-group.custom-file-button {
    padding: 0 7px;
    margin: 0 0 15px
  }
  
  .input-group.custom-file-button input[type=file] {
    height: 50px;
    line-height: 35px
  }
  
  .say-hello-main .say-hello-con {
    align-items: center
  }
  
  .radio {
    margin: .5rem
  }
  
  .radio input[type=radio] {
    position: absolute;
    opacity: 0
  }
  
  .radio input[type=radio]+.radio-label:before {
    content: "";
    background: 0 0;
    border-radius: 100%;
    border: 1px solid #fff;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    position: relative;
    top: 2px;
    margin-right: 1em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease
  }
  
  .radio input[type=radio]:checked+.radio-label:before {
    background-color: #024d81;
    box-shadow: inset 0 0 0 4px #fff
  }
  
  .radio input[type=radio]:focus+.radio-label:before {
    outline: 0;
    border-color: #3197ee
  }
  
  .radio input[type=radio]:disabled+.radio-label:before {
    box-shadow: inset 0 0 0 4px #fff;
    border-color: #b4b4b4;
    background: #b4b4b4
  }
  
  .radio input[type=radio]+.radio-label:empty:before {
    margin-right: 0
  }
  
  .form-check-inline p {
    margin: 0 0 15px;
    color: #fff
  }
  
  .form-check-inline label {
    color: #fff
  }
  
  .form-check-inline {
    margin: 0 0 0;
    padding: 0 0 0 7px
  }
  
  .p-1 {
    padding: 0 7px !important;
    margin: 0 0 15px
  }
  
  .say-hello-main .btn {
    background: 0 0;
    border-radius: 30px;
    border: 1px solid #fff;
    padding: 10px 50px;
    margin: 0
  }
  
  .fixed {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2)
  }
  
  .form-check-inline .radio-label {
    margin: 0
  }
  
  .form-check-inline .radio {
    margin: 0 15px 0 0
  }

  /* =========paperrate======= */
  #paperrate{
    display: grid;
    grid-template-columns: auto auto auto;
  }

  #card{
    background:transparent;
    border: none;
  }

  /* =========================================================== */
  .svgimg{
    /* rotate: 180deg; */
    position: absolute;
    top: -50px;
    z-index: -1;
  }

  
  #carouselExampleCaptions{
    margin-top: 100px;
  }

  #nav{
    background: transparent !important;
  }

  /* ===========junarun======= */
  #junarun{
    width: 100%;
    font-size: 100px;
    text-align: center;
    
  }

  /* =============123========= */
  .col div img{
         width: 50px;
  }

  .col{
    background-color: white;
  }

  .col div{
    border:none;
    /* color: white; */
    color: black;
  }

  #landimg{
    display: none;
  }

  @media(max-width:821px){
    
  #landimg{
    display: block;
  }
  }